body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url(http://i.imgur.com/YDi9sLU.jpg);
}
#homeLogo {
  width: 40%;
  height: auto;
  margin: 0 auto;
}
