body {
  margin: 0;
  padding: 0;
  font-family: kreon, san-serif;
  text-align: center;
  background: url(http://i.imgur.com/YDi9sLU.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  line-height: 1.35em;
  margin: 60px auto;
}
#homeLogo {
  width: 50%;
  height: auto;
  margin: 0 0 60px 0;
}
#cornerLogo {
  width: 175px;
  height: auto;
  position: fixed;
  top: 80px;
  left: 10px;
}
#redEmph {
  color: rgb(255, 0, 0);
  font-style: italic;
}
button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: kreon, serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background: #f71313;
  background-image: -webkit-linear-gradient(top, #f71313, #911616);
  background-image: -moz-linear-gradient(top, #f71313, #911616);
  background-image: -ms-linear-gradient(top, #f71313, #911616);
  background-image: -o-linear-gradient(top, #f71313, #911616);
  background-image: linear-gradient(to bottom, #f71313, #911616);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  border: 5px solid black;
}
button:hover {
  background: #a80303;
  background-image: -webkit-linear-gradient(top, #a80303, #ff0f0f);
  background-image: -moz-linear-gradient(top, #a80303, #ff0f0f);
  background-image: -ms-linear-gradient(top, #a80303, #ff0f0f);
  background-image: -o-linear-gradient(top, #a80303, #ff0f0f);
  background-image: linear-gradient(to bottom, #a80303, #ff0f0f);
  text-decoration: none;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
}
#catBtn {
  border-radius: 20px 0px 0px 20px;
  border: none;
  margin: 5px;
  font-size: 15px;
}
#quoteBtn {
  border-radius: 0px 20px 20px 0px;
  border: none;
  margin: 5px;
  font-size: 15px;
}
#randomBtn {
  border-radius: 0px;
  border: none;
  margin: 5px;
  font-size: 15px;
}
form#inline {
  display: inline;
}
#blackBar {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
}
h2 {
  font-size: 2em;
  background-color: rgba(251, 251, 251, .7);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 1em;
  position: fixed;
  width: 90%;
  bottom: 0;
}
.fa-quote-left, .fa-quote-right {
  color: rgb(207, 15, 15);
  margin: 0 15px;
}
.bigKitty {
  min-height: 100%;
  min-width: 1100px;

  width: 100%;
  height: auto;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}


/* ---------------------------------------- */


/* Desktop responsive */
@media only screen
  and (max-width: 800px) {

  h1 {
    line-height: 1.3em;
    font-size: 1.2em;
    margin: 30px 15px;
  }
  button {
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px 10px;
    border: 3px solid black;
  }
  #cornerLogo {
    width: 0px;
  }
  #blackBar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
    left: 0px;
  }
  #catBtn {
    margin: 2px;
    font-size: 10px;
  }
  #quoteBtn {
    margin: 2px;
    font-size: 10px;
  }
  #randomBtn {
    margin: 2px;
    font-size: 10px;
  }
  h2 {
    font-size: 1em;
    padding: 10px 10px 10px 0;
  }
  .fa-quote-left, .fa-quote-right {
    margin: 0 5px;
  }
  .bigKitty {
    min-height: auto;
    min-width: 80%;
    height: auto;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    z-index: -1;
  }

}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 750px)
  and (-webkit-min-device-pixel-ratio: 3) {

    h1 {
      line-height: 1.3em;
      font-size: 1.2em;
      margin: 30px 15px;
    }
    button {
      letter-spacing: 1px;
      font-size: 13px;
      padding: 5px 10px;
      border: 3px solid black;
    }
    #cornerLogo {
      width: 0px;
    }
    #blackBar {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0);
      top: 0px;
      left: 0px;
    }
    #catBtn {
      margin: 2px;
      font-size: 10px;
    }
    #quoteBtn {
      margin: 2px;
      font-size: 10px;
    }
    #randomBtn {
      margin: 2px;
      font-size: 10px;
    }
    h2 {
      font-size: 1em;
      padding: 10px 10px 10px 0;
    }
    .fa-quote-left, .fa-quote-right {
      margin: 0 5px;
    }
    .bigKitty {
      /*min-height: 170px;*/
      max-height: 170px;
      max-width: auto;
      height: 170px;
      width: auto;
      margin: 0 auto;
      position: relative;
      top: 50px;
      z-index: -1;
    }

}
